<!-- Incomplete! Need to work out more on Bootstrap navbars or maybe add materialize -->

<!DOCTYPE html>
<html ng-app="LOLApp" ng-controller="LOLController"><head>
<meta charset="UTF-8"/>
<title>Ronak Jain</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="./index/bootstrap.css" rel="stylesheet" type="text/css" media="screen">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<link href="./index/style.css" rel="stylesheet" type="text/css" media="screen">
<script src="index/angular.js"></script>
<style type="text/css"></style></head>
<body>
  
  <div class="container">
    <div class="info">
      <a href="/"><img src="./index/logo.jpg" alt="Ronak Jain"></a>
      <div class="info-internal">
        <h3 style="margin:0">Ronak Jain</h3>
        <p class="links">
          <a class="btn btn-default" href="https://github.com/thisisronak">GitHub</a>
          <a class="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
          <a class="btn btn-default" href="http://blog.ronakjain.com">Blog</a>
          <a class="btn btn-default" href="http://last.fm/user/coderon">Music</a>
          <a class="btn btn-default" href="https://twitter.com/ronakjain042">Twitter</a>
          <!-- <a class="btn btn-warning" href="cv.pdf">Resume</a> -->
          <a class="btn btn-primary" href="mailto:contact@ronakjain.com">Mail me!</a>
          <br>
        </p>
      </div>
      <div class="btn-group">
  <!-- <button type="button" class="btn btn-danger">Action</button> -->
  <!-- <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button> -->
  <ul class="dropdown-menu">
    <li><a href="www.ndejf.com">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>

  </div>
 </div>
    <h3> About Me</h3><br>
    <em>I love making things. Fond of expert systems, minimalism and startups. Having experience with Python, JS and Machine Learning, I am looking forward to work with fast moving companies and a dynamic job profile. I enjoy problem solving and sincerely believe programming is a way of life.</em>
    <h3>Stuff I made</h3>
    <!-- projects thingy -->
    <div class="projects row">
      <div class="project" ng-class="p.class" ng-repeat="p in projects | orderBy:'time_hint':true">
        <div class="project-box">
          <span class="when">{{ p.when }}</span>
          <div ng-if="p.img" class="img">
            <img ng-src="{{p.img}}" ng-alt="{{p.name}}"/>
          </div>
          <div class="infos">
            <a ng-href="{{ p.link }}"><h4 class="title">{{ p.name }}</h4></a>
            <a ng-if="p.source" ng-href="{{ p.source }}">source</a>
            <p class="what">{{ p.what }}</p>
            <p class="why">
             {{ p.why }}
           </p>
<!--
    <div class="techs">
      <span ng-repeat="tech in p.tech.split(',')">{{ tech }}</span>
    </div>
-->
</div>
</div>
</div>

<script>

  var PROJECTS = [{
    name:"Weather",
    link:"https://fathomless-hamlet-6897.herokuapp.com/",
    source:"https://github.com/thisisronak/Weather",
    what:"Django, Open Weather API",
    when: "04/14",
    why: "A web application which detects a user's location and informs him about the weather conditions. "
  },{
    name:"Twitter News Aggregator",
    link:"https://github.com/thisisronak",
    what:"Django, Python, Javascript",
    when: "06/15",        
    why: "Built a Stock News Aggregator which fetches all the relevant stock and finance related news using the Twitter API."
  },
  {
    name:"Interactive Resume",
    link:"www.thisisronak.github.io/redundant",
    what:"Javascript",
    when: "07/14",   
    why: "An interactive resume which is a novel way of presenting and showcasing my project work."
  },
  {
    name:"Techno Art",
    link:"https://github.com/thisisronak/TechnoArt",
    what:"Java",
    when: "11/13",    
    why: "A drawing panel which enables user to draw sketches and symmetric curves and runs as a standalone application."
  }
  ]

  time_hint = function(d){
   var m = parseInt(d.split("/")[0])
   var y = parseInt(d.split('/')[1])
   return m+y*100;
 }

 PROJECTS.forEach(function(p){
  if(p.when){
    var dates = p.when.split('-');
    if(dates.length == 1){
      p.time_hint = time_hint(dates[0])
    }else{
      p.time_hint = time_hint(dates[1])
    }
  }else{
    console.log("no time",p.name)
  }
})


 var app = angular.module('LOLApp', []);
 app.controller('LOLController', function ($scope) {
  $scope.projects = PROJECTS;
});
</script>




  </body>
</html>
